# Ignore local development settings
appsettings.json
appsettings.Development.json
*.pubxml.user
# Visual Studio
.vs/
bin/
obj/
# Local / separate frontend projects
/Ambition Architects-final-website/
/redberry-coprate-cms/
# api documentation
